<center>
    <h1> <u> 
            Project - 01 
            </u>
        </h1>
        </center>
     <br>
<center>
    <h2> 
        Bengaluru House Price Prediction 
        </h2>
        </center>

### Import Library For Load DataSet & calculation

In [1592]:
import numpy as np
import pandas as pd

### Load Dataset

In [1593]:
BHP_df = pd.read_csv("./bengaluru_house_prices.csv")
BHP_df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

### Check Dataset size

In [1594]:
BHP_df.shape

(13320, 9)

In [1595]:
BHP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [1596]:
for column in BHP_df.columns:
    print(BHP_df[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

### Check Number of null values present these columns

In [1597]:
BHP_df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

### Drop useless columns

In [1598]:
BHP_df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [1599]:
BHP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [1600]:
BHP_df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [1601]:
BHP_df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [1602]:
BHP_df['location']=BHP_df['location'].fillna('Whitefield')

In [1603]:
BHP_df['location'] = BHP_df['location'].apply(lambda x: x.strip())

In [1604]:
location_stats = BHP_df['location'].value_counts()
location_stats

Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [1605]:
len(location_stats[location_stats<=10])

1053

In [1606]:
location_stats_less_than_10 = location_stats[location_stats<=10]

In [1607]:
BHP_df.location = BHP_df.location.apply(lambda x: "other" if x in location_stats_less_than_10 else x)

In [1608]:
BHP_df['location'].value_counts()

other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [1609]:
BHP_df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [1610]:
BHP_df['size']=BHP_df['size'].fillna('2 BHK')

In [1611]:
BHP_df['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [1612]:
BHP_df['bath']=BHP_df['bath'].fillna(BHP_df['bath'].median())

In [1613]:
BHP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [1614]:
BHP_df['bhk']=BHP_df['size'].str.split().str.get(0).astype(int)

In [1615]:
BHP_df[BHP_df.bhk >20]

         location        size total_sqft  bath  price  bhk
1718        other      27 BHK       8000  27.0  230.0   27
4684  Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [1616]:
BHP_df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [1617]:
def convertrange(x):
    temp = x.split('-')
    if len(temp)==2:
        return(float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [1618]:
BHP_df['total_sqft']=BHP_df['total_sqft'].apply(convertrange)

In [1619]:
BHP_df.isna().sum()

location       0
size           0
total_sqft    46
bath           0
price          0
bhk            0
dtype: int64

In [1620]:
BHP_df.dropna(inplace=True)

In [1621]:
BHP_df.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

In [1622]:
BHP_df['bath'] = BHP_df['bath'].astype(int)
BHP_df['total_sqft'] = BHP_df['total_sqft'].astype(int)

In [1623]:
BHP_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13274 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13274 non-null  object
 1   size        13274 non-null  object
 2   total_sqft  13274 non-null  int32
 3   bath        13274 non-null  int32
 4   price       13274 non-null  float64
 5   bhk         13274 non-null  int32
dtypes: float64(1), int32(3), object(2)
memory usage: 570.4+ KB

## Adding New Column in the dataset (price_per_sqft)

In [1624]:
BHP_df["price_per_sqft"] = BHP_df["price"]*100000/BHP_df["total_sqft"]
BHP_df.head(10)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056,2,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600,5,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440,2,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521,3,95.00,3,6245.890861
4,Kothanur,2 BHK,1200,2,51.00,2,4250.000000
5,Whitefield,2 BHK,1170,2,38.00,2,3247.863248
6,Old Airport Road,4 BHK,2732,4,204.00,4,7467.057101
7,Rajaji Nagar,4 BHK,3300,4,600.00,4,18181.818182
8,Marathahalli,3 BHK,1310,3,63.25,3,4828.244275
9,other,6 Bedroom,1020,6,370.00,6,36274.509804

## Rmove Outlier

In [1625]:
BHP_df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13274.000000  13274.000000  13274.000000    1.327400e+04
mean    1559.620687      2.687359    112.453654      2.801718    7.907527e+03
std     1238.404101      1.336158    149.070368      1.291591    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

### Find Out those value greater than or equal to 300 total_sqft

In [1626]:
BHP_df = BHP_df[BHP_df['total_sqft']/BHP_df['bhk'] >=300]
BHP_df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056,2,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600,5,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440,2,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521,3,95.00,3,6245.890861
4,Kothanur,2 BHK,1200,2,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453,4,231.00,5,6689.834926
13316,other,4 BHK,3600,5,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141,2,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689,4,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550,1,17.00,1,3090.909091

In [1627]:
BHP_df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.558180      2.559537    111.382401      2.650838     6304.006348
std     1261.270268      1.077938    152.077329      0.976678     4162.241593
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

## Remove Outliers

In [1628]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df], ignore_index = True)
    return df_out
        
BHP_df = remove_pps_outliers(BHP_df)
BHP_df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.434909      2.471702     91.286372      2.574896     5659.085456
std      880.692694      0.979449     86.342786      0.897649     2265.777389
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [1629]:
BHP_df.shape

(10301, 7)

In [1630]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std':  np.mean(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
            
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)            
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
                
    return df.drop(exclude_indices,axis='index')

In [1631]:
BHP_df = remove_bhk_outliers(BHP_df)

In [1632]:
BHP_df.shape

(7361, 7)

### Drop useless column (size & price_per_sqft)

In [1633]:
BHP_df.drop(columns=['size','price_per_sqft'],inplace=True)

In [1634]:
BHP_df

                  location  total_sqft  bath  price  bhk
0      1st Block Jayanagar        2850     4  428.0    4
1      1st Block Jayanagar        1630     3  194.0    3
2      1st Block Jayanagar        1875     2  235.0    3
3      1st Block Jayanagar        1200     2  130.0    3
4      1st Block Jayanagar        1235     2  148.0    2
...                    ...         ...   ...    ...  ...
10292                other        1200     2   70.0    2
10293                other        1800     1  200.0    1
10296                other        1353     2  110.0    2
10297                other         812     1   26.0    1
10300                other        3600     5  400.0    4

[7361 rows x 5 columns]

## Create a Backup of Cleaned Dataset

In [1635]:
BHP_df.to_csv('Cleaned_Data_Backup.csv')

## Model Training

### Import Library required for model training

In [1636]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

### Feature_Column & Taget_Column Seprated By Cleaned Dataset

In [1637]:
X = BHP_df.drop(columns= ['price'])
Y = BHP_df['price']

### For Model Training Apply the train_test_split 80% data is for traing and remaining 20% data is for testing

In [1638]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=55)

In [1639]:
print(X_train.shape)
print(Y_train.shape)

(5888, 4)
(5888,)

## Apply Linear Regression

In [1640]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False),['location']),
                                       remainder='passthrough')

In [1641]:
scaler = StandardScaler()

In [1642]:
lr = LinearRegression()

### Create a Pipe Line

In [1643]:
pipe_lr = make_pipeline(column_trans,scaler,lr)

In [1644]:
pipe_lr.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [1645]:
y_pred_lr = pipe_lr.predict(X_test)

### Measure The r2_score For Linear Regressin

In [1646]:
r2_score_lr = r2_score(Y_test,y_pred_lr)
r2_score_lr

0.9006690613041758

## Apply Lasso

In [1647]:
lasso = Lasso()

### Create Pipe Line

In [1648]:
pipe_lasso = make_pipeline(column_trans,scaler,lasso)

In [1649]:
pipe_lasso.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [1650]:
y_pred_lasso = pipe_lasso.predict(X_test)

### Measure The r2_score For lasso

In [1651]:
r2_score_lasso = r2_score(Y_test,y_pred_lasso)
r2_score_lasso

0.8923134908816945

## Apply Ridge

In [1652]:
ridge = Ridge()

### Create Pipe Line

In [1653]:
pipe_ridge = make_pipeline(column_trans,scaler,ridge)

In [1654]:
pipe_ridge.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [1655]:
y_pred_ridge = pipe_ridge.predict(X_test)

### Measure The r2_score For Ridge_Model

In [1656]:
r2_score_ridge = r2_score(Y_test,y_pred_ridge)
r2_score_ridge

0.9004823867844958

In [1657]:
print("All Model With R2_Score:\n")
print('LinearRegression Model r2_score :-',r2_score_lr)
print('*'*50)
print('Lasso Model r2_score:-',r2_score_lasso)
print('*'*50)
print('Ridge Model r2_score:-',r2_score_ridge)

print ('\nLinearRegression Model & Ridge Model r2_score is similar then Select Finally Ridge Model')

All Model With R2_Score:

LinearRegression Model r2_score :- 0.9006690613041758
**************************************************
Lasso Model r2_score:- 0.8923134908816945
**************************************************
Ridge Model r2_score:- 0.9004823867844958

LinearRegression Model & Ridge Model r2_score is similar then Select Finally Ridge Model

### Import Pickle library for Deployment In Server

In [1658]:
import pickle

In [1659]:
file = open('LinearRegressionModel.pkl','wb')
pickle.dump(pipe_lr, file)